@model WeatherFrontend.Models.WeatherModel
<h2>Weather in @Model.City</h2>
<ul>
    <li>Temperature: @Model.Temperature</li>
    <li>Condition: @Model.Condition</li>
    <li>Humidity: @Model.Humidity</li>
    <li>Wind Speed: @Model.Wind_Speed</li>
</ul>
<a href="/">Back</a>
